main {
    display: flex;
    justify-content: center;
    width: 300px;
    margin-left: 500px;
}

footer {
    width:100%;
    text-align:center;
}

header {

}

.calculator {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 380px;
    height:500px;
    background-color: azure
}

.display {
    border: 1px solid black;
    height: 50px;
    width: 90%;
    background-color: aquamarine;
    text-align: right;
    font-size: x-large;
    align-self: center;


}

.buttons {
    background-color: bisque;
    height: 370px;
    margin: 5px;
    padding: 5px;
    width: 95%;
    align-self: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.numBtn {
    padding: 20px 25px 20px 25px;
    font-size: x-large;
}

.operator {
    padding: 20px 25px 20px 25px;
    font-size: x-large;
}

.decimal {
    padding: 20px 25px 20px 25px;
    font-size: x-large;
}

.equals {
    padding: 20px 25px 20px 25px;
    font-size: x-large;
}

.clear {
    padding: 15px 40px 15px 40px;
    font-size: x-large;

}

.delete {
    padding: 15px 40px 15px 40px;
    font-size: x-large;

}